* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
html,
body {
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, #252323, #a8bbd6);
  display: flex;
  align-items: center;
  justify-content: center;
}
.main {
  padding: 50px;
  box-shadow: 0px 3px 15px rgb(36, 35, 35);
  border-radius: 10px;
}
.main .digits {
  background-color: #717377;
  color: black;
  border: none;
  margin: 5px;
  width: 50px;
  height: 50px;
  box-shadow: 0px 3px 15px rgb(36, 35, 35);
  transition: all ease 0.9s;
  cursor: pointer;
}
.main .digits:hover {
  background-color: white;
  color: black;
  transition: all ease 0.9s;
}
.main .operators:hover {
  background-color: white;
  color: black;
  transition: all ease 0.9s;
}
.main .operators {
  background-color: rgba(90, 86, 86, 0.719);
  color: white;
  padding: 5px 10px;
  border: none;
  margin: 5px;
  width: 50px;
  height: 50px;
  box-shadow: 0px 3px 15px rgb(36, 35, 35);
  transition: all ease 0.9s;
  cursor: pointer;
}
.main .equal {
  background-color: rgb(17, 50, 70);
  color: white;
  padding: 15px 10px;
  border: none;
  margin: 5px;
  width: 50px;
  height: 50px;
  box-shadow: 0px 3px 15px rgb(36, 35, 35);
}
.main .equal:hover {
  background-color: rgb(68, 60, 60);
  color: white;
  transition: all ease 0.9s;
}
.main #ac {
  background-color: rgb(2, 68, 13);
  color: white;
}
.main #ac:hover {
  background-color: rgb(59, 235, 59);
  color: white;
}
.main #del {
  background-color: rgb(129, 3, 3);
  color: white;
}
.main #del:hover {
  background-color: red;
  color: white;
}
.main .currentEntry {
  height: 50px;
  font-size: 20px;
  padding: 20px 10px;

  color: rgb(255, 255, 255);
  border: 1px solid #717377;
  border-bottom: none;
  text-align: start;
}
.main .output {
  border: 1px solid #717377;
  margin-bottom: 15px;
  border-top: none;
  font-size: 30px;
  text-align: end;
  height: 50px;
  padding: 0px 10px;
  color: white;
}
